.nav-wrapper {
    background-color: #E3C0C0;
    top: 0%;
}

.home,
.about-me,
.abilities,
.projects-section {
    width: 100vw;
    /* height: 90vh; */
    height: auto;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.home {
    background-color: #E3C0C0;
    display: flex;
}

.home-line {
    border: white 2px solid;
    width: 78vw;
    height: 77vh;
    color: white;
    padding-top: 5rem;
    margin: 1.5rem 2.5rem;
}

.name {
    font-size: 2.3rem;
}

.track {
    font-size: 1.2rem;
}

.personal-img {
    margin: 5px;
    width: 70vw;
}

.about-me p {
    padding: 0px 20px;
}

.btn-small {
    background-color: #E3C0C0 !important;
    margin: 3%;
}

.tecnology {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2rem;
}

.icon {
    color: #E3C0C0;
    font-size: 3rem;
}

.effect-zoom:hover {
    transform: scale(1.5);
    transition: transform 0.2s;
}

.abilities {
    margin-top: 10%;
}

.soft-skills ul {
    width: 45%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2.2rem;
}

.soft-skills ul li {
    margin-left: 1rem;
}

.icon-soft-kills {
    width: 40%;
}

.projects-section {
    padding: 1rem;
}

.projects {
    margin-top: 2rem;
}

.card-image {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    width: 100%;
}

footer {
    background-color: #E3C0C0;
    width: 100%;
    height: 5rem;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    margin: 0;
}

.social-icons {
    width: 30px;
    height: 30px;

}

.contact-icons p {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: medium;
}

@media (min-width:700px) {
    .home-line {
        width: 85vw;
        height: 70vh;
        margin-top: 4rem;
        margin: 4rem 6rem;
    }

    .name {
        font-size: 5rem;
        margin: 0;

    }

    .track {
        font-size: 2rem;
    }

    .about-me {
        display: flex;
        align-items: center;
    }

    .about-me p {
        margin: 2rem;
        padding: 0;
    }

    .about-me h5 {
        align-self: flex-start;
        position: absolute;
        left: 45%;
    }

    .personal-img {
        width: 35vw;
        margin-left: 7rem;
    }

    .text-about-me {
        width: 46vw;
        margin-left: 5rem;
        font-size: 1.3rem;
    }

    .btn-small {
        height: 35px !important;
        line-height: 32.4px;
        font-size: 15px !important;
    }

    .tecnology {
        display: flex;
        flex-direction: column;
    }

    .tecnology ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .tecnology ul li {
        text-align: center;
        width: 100px;
        margin-top: 30px;
    }

    .soft-skills ul {
        width: 25%;
    }

    .projects {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        height: 37rem;
    }

    .card {
        width: 20rem;
        height: 15rem;
    }

    .card-action a {
        color: black !important;

    }

    .contact-icons {
        padding-top: 1%;
        justify-content: center;
    }
    
    .social-icons {
        width: 55px;
        height: 55px;
        padding: 10%;        
    }

}