
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-wrapper {
    background-color: #E3C0C0;
    top: 0%;
}

/* .no-margin-bottom {
    margin-bottom: 0px !important
} */

.home,
.about-me,
.abilities,
.projects-section {
    width: 100vw;
    height: 90vh;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.home {
    background-color: #E3C0C0;
    display: flex;
}

.home-line {
    border: white 2px solid;
    width: 78vw;
    height: 77vh;
    margin-top: 38px;
    color: white;
    padding-top: 10rem;
}

.name {
    font-size: 9vw;
}

.track {
    font-size: 5vw;
}

.about-me {
    margin-top: 2rem;
}

.about-me p {
    /* margin-top: 3vw; */
    padding: 5vw;
}

.personal-img {
    margin: 5px;
    width: 70vw
}
.tecnology {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.icon {
    color: #E3C0C0;
    font-size: 55px;
}
 
.effect-zoom:hover {
    transform: scale(1.5);
    transition: transform 0.2s;
}

.abilities {
    height: auto;
}
.icon-soft-kills{
    width: 50%;
}

.projects-section {
    height: auto;
    padding: 1rem;
}

/* .projects {
    padding: 1rem;
} */

.card-image {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    width: 100%;
}

footer {
    background-color: #E3C0C0;
    width: 100%;
    height: 5rem;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}
.social-icons{
    width: 40px;
    height: 40px;

}

/* @media (min-width:425px) {
    .home-line direction{
        padding-top: 20%;
    }

    .name {
        font-size: 9vw;
    }

    .track {
        font-size: 4vw;
    }

    .about-me { */
        /* padding: 6vw;
        margin-top: 5rem; */
        /* padding: 6vw;
        margin-top: 8rem;
    }
} */


@media (min-width:700px) {
    .home-line {
        width: 83vw;
        height: 67vh;
        padding-top: 7%;
        margin-top: 80px;
    }

    .name {
        font-size: 5vw;
    }

    .track {
        font-size: 2vw;
    }

    .about-me {
        display: flex;
        align-items: center;
    }
    .about-me h5 {
        
    }
    .about-me p {
        margin: 2rem;
        padding: 0;
    }

    .personal-img {
        /* margin: 20px; */
        width: 35vw;
        margin-left: 7rem;
    }

    .text-about-me {
        width: 46vw;
        margin-left: 5rem;
        font-size: 1.3rem;
    }

    .tecnology {
        display: flex;
        flex-direction: column;
    }
    .tecnology ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .tecnology ul li {
        text-align: center;
        width: 100px;
        margin-top: 30px;
    }

    .projects {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        height: 37rem;
    }
    .card {
        width: 20rem;
        height: 15rem;
        /* background-color: aqua; */
    }

    .contact-icons {
        padding-top: 1%;
        justify-content: center;
    }
    .social-icons{
        width: 50px;
        height: 50px;
    
    }

}