.nav-wrapper {
    background-color: #E3C0C0;
    top: 0%;
}

.no-margin-bottom {
    margin-bottom: 0px !important
}

.home,
.about-me,
.abilities,
.projects {
    width: 100vw;
    height: 90vh;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    /* display: flex; */
}

.home {
    background-color: #E3C0C0;
    display: flex;
}

.home-line {
    border: white 2px solid;
    width: 78vw;
    height: 77vh;
    margin-top: 38px;
    color: white;
    padding-top: 22%;
}

.name {
    font-size: 9vw;
    /* font-weight: 600; */
}

.track {
    font-size: 5vw;
}

.about-me {
    padding: 6vw;
    margin-top: 2rem;
}

.personal-img {
    margin: 15px;
    width: 45vw
}
.tecnology {
    display: flex;
    justify-content: space-around;
}

.icon {
    color: #E3C0C0;
    font-size: 55px;
}
 
.effect-zoom:hover {
    transform: scale(1.5);
    transition: transform 0.2s;
}

.card-image {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    width: 100%;
}

@media (min-width:425px) {
    .home-line {
        padding-top: 20%;
    }

    .name {
        font-size: 9vw;
    }

    .track {
        font-size: 4vw;
    }

    .about-me {
        /* padding: 6vw;
        margin-top: 5rem; */
        padding: 6vw;
        margin-top: 8rem;
    }
}


@media (min-width:768px) {
    .home-line {
        width: 83vw;
        height: 67vh;
        padding-top: 2%;
        margin-top: 80px;
    }

    .name {
        font-size: 4vw;
    }

    .track {
        font-size: 2vw;

    }

    .about-me {
        display: flex;
        align-items: center;
    }

    .personal-img {
        /* margin: 20px; */
        width: 20vw;
        margin-left: 6rem;
    }

    .text-about-me {
        width: 46vw;
        margin-left: 7rem;
        font-size: 1.3rem;
    }
}